# Configurações do registro do npm
registry=https://registry.npmjs.org/

# Configurações de segurança
audit=true
fund=false

# Configurações de cache
cache-min=3600
prefer-offline=true

# Configurações de dependências
save-exact=true
legacy-peer-deps=true

# Configurações de scripts
ignore-scripts=false

# Configurações de logs
loglevel=warn 